<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste Django</title>
</head>
<body>
    <h1>Seja Bem-Vindo, esta é a home da página</h1>
    <p> Data de hoje: {{hoje}}</p>

    <ul>
        {% for t in teste %}
            <li>{{t}}</li>
        {% endfor %}
    </ul>
</body>
</html>