{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Teste Django</title>
</head>
<body>
    <h1 class="titulo">Listagem</h1>
        {% for produto in produtos %}
            <section class="produtos">
                    <a href="{% url 'url_update' produto.id %}"><div class='produto_name'>{{ produto.nome }}</div></a>
                    <p>R$ {{ produto.preco }}</p>
                    <p>{{ produto.descricao }}</p>
            </section>
        {% endfor%}
    <a class='btn_cadastrar' href="{% url 'url_cadastrar_produto' %}">Cadastrar Novo Produto</a>
    <img class='imagem' src="{% static 'imagem.jpg' %}">
</body>
</html>